# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [2]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv
# Import custom methods to work with Apache Cassandra
from lib import generate_str, create_table, insert_query

#### Creating list of filepaths to process original event csv data files

In [3]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

/home/workspace

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [4]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# uncomment the code below if you would like to get total number of rows 
print(len(full_data_rows_list))
# uncomment the code below if you would like to check to see what the list of event data rows will look like
#print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            # The rows without artist information (empty strings) are skipped
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

298

In [5]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

264

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [6]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
cluster = Cluster()

# To establish connection and begin executing queries, need a session
session = cluster.connect()

#### Create Keyspace

In [7]:
# This cell creates a keyspace

try:
    query = "CREATE  KEYSPACE IF NOT EXISTS sparkify \
             WITH REPLICATION = {'class' : 'SimpleStrategy',\
                                 'replication_factor' : 1}"
    session.execute(query)

except Exception as e:
    print(e)

#### Set Keyspace

In [8]:
# This cell sets the keyspace to the one created above

try:
    session.set_keyspace('sparkify')
except Exception as e:
    print(e)

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run. As a best practice it is recomended to run assign one table per query since JOIN and GROUP BY statements are not supported in Apache Cassandra.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession = 4

CQL Query:
```
SELECT artist, song, length FROM <table_name> WHERE sessionId = 228 AND itemInSession = 4
```

### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

CQL Query: song must be sorted by itemInSession
```
SELECT artist, song, firstName, lastName FROM <table_name> WHERE userid = 10 AND sessionid = 182
```

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

CQL Query:
```
SELECT firstName, lastName FROM <table_name> WHERE song 'All Hands Against His Own'
```

In [9]:
# We are going to load all the data in './event_datafile_new.csv' into a single table with sessionId as PRIMARY KEY. 
# This is thought as a helper table just in case we want to take a look into certain fields.

# "table_events" creation
table = "table_events"
fields_events = "(artist text, \
            firstName text, \
            gender text, \
            itemInSession int, \
            lastName text, \
            length double, \
            level text, \
            location text, \
            sessionId int, \
            song text, \
            userId int, \
            PRIMARY KEY (sessionId))"
create_table(table_name = table, fields = fields_events, session = session)

# data insertion into "table_events"
file = 'event_datafile_new.csv'
fields = ['artist','firstName','gender','itemInSession','lastName','length',\
          'level','location','sessionId','song','userId']

with open(file, encoding = 'utf8') as f:
    print("Inserting ./"+file+" data into table "+table)
    csvreader = csv.reader(f)
    next(csvreader) # to skip header
    
    for line in csvreader:
        query = insert_query(fields, table)
        # Since we are reading from CSV files we need to transform the type of the fields to
        # match the schema of the table. There is the option to implement this automatically
        # with the QUOTE_NONNUMERIC option [1] but this way we have more control over the data
        #
        # [1] https://stackoverflow.com/questions/55290883/invalid-string-constant-error-in-apache-cassandra-using-python
        values = [line[0], line[1], line[2], int(line[3]), line[4], float(line[5]),\
          line[6], line[7], int(line[8]), line[9], int(line[10])]

        session.execute(query, values)

Table table_events was dropped
Table table_events was created
Inserting ./event_datafile_new.csv data into table table_events

In [10]:
# To verify that all the rows were inserted we will run two queries:

# 1 - row count: "SELECT COUNT(*) FROM table1"
print("Query: " + "SELECT COUNT(*) FROM {}".format(table))
print("Output:")
rows = session.execute("SELECT COUNT(*) FROM {}".format(table))
for r in rows:
    print(r)

print("\nQuery: " + "SELECT * FROM {} LIMIT 5".format(table))
print("Output:")
# 2 - check all the data: "SELECT * FROM table1"
rows = session.execute("SELECT * FROM {} LIMIT 5".format(table))
for r in rows:
    print(r[:])

Query: SELECT COUNT(*) FROM table_events
Output:
Row(count=41)

Query: SELECT * FROM table_events LIMIT 5
Output:
(363, 'Alphaville', 'Lily', 'F', 0, 'Burns', 285.43955, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'Big In Japan (Original)', 32)
(331, 'Amy Winehouse', 'Martin', 'M', 2, 'Johnson', 141.24363, 'free', 'Minneapolis-St. Paul-Bloomington, MN-WI', 'Some Unholy War', 55)
(340, 'Barry Tuckwell/Academy of St Martin-in-the-Fields/Sir Neville Marriner', 'Theodore', 'M', 0, 'Harris', 277.15873, 'free', 'Red Bluff, CA', 'Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile)', 14)
(423, 'Tub Ring', 'Cecilia', 'F', 0, 'Owens', 233.69098, 'free', 'Atlanta-Sandy Springs-Roswell, GA', 'Invalid', 6)
(420, 'Aerosmith', 'Lily', 'F', 0, 'Burns', 301.76608, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'Fly Away From Here', 32)

In [27]:
## TO-DO: Query 1:  Give me the artist, song title and song's length in the music app history that was heard during \
## sessionId = 338, and itemInSession = 4

table = "table1"
fields1_create = "(artist text, \
            itemInSession int, \
            length double, \
            sessionId int, \
            song text, \
            PRIMARY KEY (sessionId, itemInSession))"

create_table(table_name = table, fields = fields1_create, session = session)

Table table1 was dropped
Table table1 was created

In [28]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'
fields1 = ['artist','itemInSession','length','sessionId','song']

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # to skip header
    
    for line in csvreader:
        query = insert_query(fields1, table)
        # Since we are reading from CSV files we need to transform the type of the fields to
        # match the schema of the table. There is the option to implement this automatically
        # with the QUOTE_NONNUMERIC option [1] but this way we have more control over the data
        #
        # [1] https://stackoverflow.com/questions/55290883/invalid-string-constant-error-in-apache-cassandra-using-python
        values = [line[0], int(line[3]), float(line[5]), int(line[8]), line[9]]
        
        session.execute(query, values)

#### Do a SELECT to verify that the data have been inserted into each table

In [29]:
# We now run the query1 to verify that the table is modeled according to the desired output
# The original request for this project was sessionId = 228 but there is no such entry so instead I used sessionid=297
query1 = "SELECT * FROM {} WHERE sessionId = 297 and itemInSession = 4".format(table)

rows = session.execute(query1)
for r in rows:
    print(r)

query_count_check = "SELECT COUNT(*) FROM {}".format(table)

rows = session.execute(query_count_check)
for r in rows:
    print(r)

Row(sessionid=297, iteminsession=4, artist='Evanescence', length=237.11302, song='Bring Me To Life')
Row(count=263)

### COPY AND REPEAT THE ABOVE THREE CELLS FOR EACH OF THE THREE QUESTIONS

In [30]:
## TO-DO: Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name)\
## for userid = 10, sessionid = 182

table = "table2"
fields2_create = "(artist text, \
            song text, \
            firstName text, \
            lastName text, \
            itemInSession int, \
            userId int, \
            sessionId int, \
            PRIMARY KEY ((userid, sessionid), itemInSession))"

create_table(table_name = table, fields = fields2_create, session = session)

Table table2 was dropped
Table table2 was created

In [31]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'
fields2 = ['artist', 'song', 'firstName','lastName','itemInSession','userId','sessionId']

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # to skip header
    
    for line in csvreader:
        query = insert_query(fields2, table)
        # Since we are reading from CSV files we need to transform the type of the fields to
        # match the schema of the table. There is the option to implement this automatically
        # with the QUOTE_NONNUMERIC option [1] but this way we have more control over the data
        #
        # [1] https://stackoverflow.com/questions/55290883/invalid-string-constant-error-in-apache-cassandra-using-python
        values = [line[0], line[9], line[1], line[4], int(line[3]), int(line[10]), int(line[8])]
        
        session.execute(query, values)

In [32]:
# We now run the query2 to verify that the table is modeled according to the desired output
# The original request for this project was userid = 10 and sessionid 182 but there is no such entry
# so I adjusted the values of userid and sessionid

query2 = "SELECT * FROM {} WHERE userid = 42 AND sessionid = 275".format(table)

rows = session.execute(query2)
for r in rows:
    print(r.userid, r.sessionid, r.iteminsession, r.song)

query_count_check = "SELECT COUNT(*) FROM {}".format(table)

rows = session.execute(query_count_check)
for r in rows:
    print(r)

42 275 1 Supermassive Black Hole (Twilight Soundtrack Version)
42 275 2 Lighten Up
42 275 3 Pienso En Ti
42 275 4 Amor Prohibido
42 275 5 Day 'N' Nite
42 275 6 Black Masks & Gasoline
42 275 7 I'm Like A Lawyer With The Way I'm Always Trying To Get You Off (Me & You)
42 275 8 Staple It Together
42 275 9 Slow Jamz (Feat. Kanye West & Jamie Foxx) (Edited Album Version)
42 275 10 Hey_ Soul Sister
42 275 11 Rehab
42 275 12 Van Helsing Boombox
42 275 13 The Stallion
42 275 14 Fireflies
42 275 15 I Want I Want
42 275 16 Railway
42 275 17 Clark Gable (Album)
42 275 18 Phaeton
42 275 19 Ucci Ucci feat. Nicki Minaj & The Chopper City Boyz
42 275 20 Choke
42 275 21 Stuck Between
42 275 22 Smell Of Desire.
42 275 23 Headlights Look Like Diamonds
42 275 25 Out Go The Lights
42 275 26 You & Me Song
42 275 27 Girls (Album version)
42 275 28 Wayfaring Stranger
42 275 29 Sweep The Flo (Featuring Diamond)
42 275 30 This Old House w/ When The Saints Medley
42 275 31 Brain Leech
42 275 32 Didgeridoo
42 275 33 LÃÂ  OÃÂ¹ Je Pars
42 275 34 I Wouldn't Be A Man
Row(count=263)

In [65]:
## TO-DO: Query 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

table = "table3"
fields2_create = "(firstName text, \
            lastName text, \
            sessionId int, \
            song text, \
            PRIMARY KEY (song, sessionid))"

create_table(table_name = table, fields = fields2_create, session = session)

Table table3 was dropped
Table table3 was created

In [66]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'
fields3 = ['firstName','lastName','sessionId','song']

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # to skip header
    
    for line in csvreader:
        query = insert_query(fields3, table)
        # Since we are reading from CSV files we need to transform the type of the fields to
        # match the schema of the table. There is the option to implement this automatically
        # with the QUOTE_NONNUMERIC option [1] but this way we have more control over the data
        #
        # [1] https://stackoverflow.com/questions/55290883/invalid-string-constant-error-in-apache-cassandra-using-python
        values = [line[1], line[4], int(line[8]), line[9]]        
        
        session.execute(query, values)

In [72]:
# We now run the query3 to verify that the table is modeled according to the desired output

query3 = "SELECT * FROM {} WHERE song = 'I Second That Emotion'".format(table)

rows = session.execute(query3)
for r in rows:
    print(r[:])

query_count_check = "SELECT COUNT(*) FROM {}".format(table)

rows = session.execute(query_count_check)
for r in rows:
    print(r)

('I Second That Emotion', 297, 'Jayden', 'Graves')
Row(count=263)

### Drop the tables before closing out the sessions

In [4]:
## TO-DO: Drop the table before closing out the sessions
for table in ["table_events", "table1", "table2", "table3"]:
            session.execute("DROP TABLE IF EXISTS {}".format(table_name))
        print("Table {} was dropped".format(table_name))

### Close the session and cluster connection¶

In [ ]:
session.shutdown()
cluster.shutdown()